# vim: ft=yaml
project: technical-task-d8d023e3-28cb-4b2e-a6c3-04cbe805f482
source:
 repoURL: >-
   https://github.com/tenhishadow/technical-task-d8d023e3-28cb-4b2e-a6c3-04cbe805f482.git
 path: .k8s/
 targetRevision: dev
destination:
 server: https://kubernetes.default.svc
 namespace: technical-task-d8d023e3-28cb-4b2e-a6c3-04cbe805f482
